.gap2 {
    margin-top: 1%;
}
.sizes {
    padding-left: 30px;
    padding-right: 30px;
    font-size: large;
    padding-bottom: 30px;
}
.box1 {
    margin-top: 1%;
    background-color: #001529;
    color: white;
    padding-left: 10%;
    
}
.box2 {
    margin-top: -1%;
    background-color: transparent;
    color: black;
    padding-left: 10%;
}
.size4 {
    width: 30%;
    margin-top: 1%;
}
.size5 {
    width: 30%;
    margin-top: 1%;
    margin-left: none;
}
.gap4{
    margin-left: 4%;
}
.marginTopBottom{
    margin-top: 1%;
    margin-bottom: 0px;
}
.marginTopBottom1{
    margin-top: 0px;
    margin-bottom: 0px;
}
.gap7 {
    margin-top: 1%;
}